/*Header,
tamaño del logo*/
.logo {
    width: 150px;
}

/*Seccion Conferencia,
filtro imagen, ubicacion y texto*/
#imagenBsAs {
    filter: brightness(45%);
    height: auto;
}

#contConferencia {
    position: relative;
}

#textoContConferencia {
    position: absolute;
    top: 30%;
    right: 10%;
}

/*Seccion Convierte
texto, boton */
.textoSubrayado {
    text-decoration: underline dotted;
}

.botonVerde {
    background-color: #96C93E;
}

/*Footer, 
color*/
.fondoCyan {
    background-color: #1D3E4F;
}

/*Responsiveness de Conferencia*/
@media screen and (max-width: 992px) {
    #contConferencia {
        height: 45vh;
    }

    #imagenBsAs {
        height: 100%;
        width: 100%;
    }

    #textoContConferencia {
        position: absolute;
        top: 10%;
        right: 2%;
    }
}

.fondoCeleste {
    background-color: rgba(127, 255, 212, 0.5);
}