/*posicion del texto sobre las imagenes del carrousel*/
.carousel-caption {
    right: 10%;
    text-align: end;
    transform: translateY(-100%);
    width: 50%;
}

/*tamaño del logo del header*/
.logo {
    width: 175px;
}

.textoSubrayado {
    text-decoration: underline dotted;
}

.botonEnviar {
    background-color: #96C93E;
}

.fondoCyan {
    background-color: #1D3E4F;
}
